/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Clash Display';
    src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('./assets//fonts/ClashDisplay-Variable.woff') format('woff'),
         url('./assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./assets/font/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./assets/font/ProductSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Clash Display'; */
    font-family: 'Product Sans', 'Clash Display';
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;